@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: black;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2{
    font: bold sans-serif;
}

p{
	color: #fff;
}

a{
	color: #7A7A7A;
}

a:visited, a:linked{
	color: #1BAE9A;
}

a:hover, a:active{
	color:#611616;
}

/* Header */
.main-header{
	width: 100%;
	height:50px;
	border-bottom: medium solid #611616;
	overflow:hidden;
}
/******************Navigation Menu***********************************/
nav ul {
	-webkit-font-smoothing:antialiased;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 10%;
}

nav a {
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

nav .dropdown:after {
    content: ' ▶';
}
nav .dropdown:hover:after{
	content:'\25bc'
}
nav li:hover a {
}
nav li ul {
    float: left;
    left: 30%;
    opacity: 0;
    position: fixed;
	width: 10%;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
	background: #000;
	
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
	border-bottom: 1px solid #611616;
	border-left: 1px solid #611616;
	border-right: 1px solid #611616;
}
	
nav li ul a:hover {
    color: #611616;
}

/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}

.selected{
	color: #611616;
}
/***************End Navigation*********************/

/***************Search *****************/

.search input{
	padding:6px ;
	margin-top: 10px;
	margin-left: 100px;
	width: 200px;
	float:left;
	background: #000;
	border: thin solid #611616;
	color: white;
	outline: none;
	border-radius: 25px;
	text-align:center;
}

.search input:focus{
	text-align:left;
}
/**************End Search*************/




/************Body Wrapper************/
#wrapper{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}
/**********End Body Wrapper***********/




/**************About and contact for(Slide down)**************/
#aboutdiv, #contactdiv, #result{
	margin-left:auto;
	margin-right:auto;
	border-left: 3px solid #611616;
	border-right: 3px solid #611616;
	border-bottom: 3px solid #611616;
	width: 1000px;
	height: 200px;
	padding: 20px;
	display:none;
}

#result #results{
	color: #fff;
	height: 95%;
	overflow:scroll;
	overflow-x: hidden;
}

#contactdiv input{
	padding: 5px;
	float: left;
	background-color: #000;
	border: 1px solid #611616;
	margin-bottom: 10px;
	color: #fff;
	outline: none;
	min-width: 300px;
}					

#contactdiv input:focus{
	background: #666;
	border: 1px solid #fff;
	margin-right: 10px;
	color: #000;
	outline: none;
}

#contactdiv textarea{
	float:left;
	background: #000;
	border: 1px dolid #611616;
	color: #611616;
	padding: 5px;
	height: 180px;
	width: 300px;
	resize:none;
	outline: none;
}

#contactdiv textarea:focus{
	background: #666;
	border: 1px solid #fff;
	margin-right: 10px;
	color: #000;
	outline: none;
}

.l{
	width: 300px;
	margin-right: 10px;
	padding: 10px;
	float: left;
}

.sb{
	padding: 10px;
	border: 1px solid #611616;
	margin-top: 20px;
	display:inline-block;
	float: left;
	background: #000;
	color: #611616;
}

.sb:hover{
	border: 1px solid #fff;
	background: #666;
	color: #000;
	cursor: pointer;
}
/***********End contact and about***************/


/*********************Free Champions display******************/
.freechampions{
	padding: 10px;
	width: 980px;
	margin-top: 50px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #611616;
	color: white;
}

.freechampionshead{
	padding:8px;
	border-bottom: 2px solid white;
	font-size: 25px;
	text-align:center;
}

.freechampionshead h2{
	margin-bottom: 3px;
}

.freechampionsbody{
	padding: 5px;
}

.freechampionsbody img{
	width:90px;
	height: 160px;
	margin-left: 2.3px;
	margin-bottom: 5px;
	margin-top: 5px;
	cursor:pointer;
}

.freechampioninfo{
	padding: 30px;
	border-top: 2px solid #fff;
	margin-top: 5px;
	display: none;
}
.close{
	float:right;
	cursor:pointer;
}

/********************End Free Champions display***************/
.left, .right{
	margin-top: 20px;
}

.left{
	float: left;
	width:680px;
	clear:left;
	margin-right: 20px;
}

/********************Latest Articles***************/
.right{
	float: right;
	width:300px;
	clear:right;
	color: #fff;
}

.la{
	float:right;
	margin-bottom: 10px;
	height:auto;
	border: thin solid #611616;
}

.lahead{
	padding: 10px;
	font-size: 22px;
	border-bottom: thin solid #fff;
}

.lapost{
	clear: both;
	padding: 10px;
	border-bottom: 1px solid white;
}

.laposthead{
	font-weight:bold;
	cursor: pointer;
	margin-bottom: 5px;
}

.laposthead:hover{
	color: #611616;
}

.lapostbody{
	padding-left: 30px;
	display:none;
}

.lapostdate{
	color:#666;
}

/**************End Latest Articles*****************/


/**************News Section*****************/
.news{
	color:white;
	margin-bottom: 20px;
	padding: 5px;
	border:1px solid #611616;
}

.newshead{
	padding: 10px;
	font-size: 25px;
}

.newsbody p{
	padding: 20px;
}

#more{
	display: none;
}

.showbutton{
	margin-top: 20px;
	text-align:center;
	padding: 10px;
	border: 1px solid #611616;
	max-width: 100px;
	margin-left:auto;
	margin-right:auto;
}
.showbutton:hover{
	border: 1px solid white;
	cursor:pointer;
}

